.post-box-container{
    height: 20vh;
    margin-left: 2em;
    margin-top:2.5em;
    position: relative;
    
}
.post-box-container > textarea{
    margin-top:1em;
    width: 100%;
    /* border-radius: 10px; */
    resize: none;
}

.post-box-container > h4 {
    position: absolute;
    top:-1.5em;
    font-size: large;
}