.post-list-container{
    border-radius: 10px;
    height: 65vh;
    margin-top:3em;
    position: relative;
    margin-left:2em;

}
.post-list-container > h4 {
    position: absolute;
    top:-1.5em;
    font-size: large;
}
.post-list{
    height: 100%;
}